// Colors
$main-background: #d4dae6;
$container-background: #e0e0ea;
$navbar-background: #ea7a90; 
$cards-background: #f3f4f8;

// font
$text-uppercase: uppercase;
$font: 'Nunito Sans', sans-serif;
$font-l: 18px;
$font-m: 13px;
$font-s: 9px;
$bold: bold;